.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
